* {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cabecalho {
    background-color: #015192;
    height: 14vh;   
}

.item-do-menu{
    display: inline;
    padding: 10px;
}

#menu {
    padding-top: 6px;

}

a:link {
    text-decoration: none;
    font-size: 1.5em;
    text-transform: lowercase;
    
}

a:visited {
    color: white;
}

a:hover {
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    background-color:#031038;
    border-radius: 8px 8px 0 0;
}

a:active {
    color: tomato;
}

#banner {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
}

#imagem-banner {
    width: 100%;
    height: 40vh;  
}

#boas-vindas {
    text-align: end;
    font-size: 24px;
}

.rodape {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10vh;   
    background-color: #383838;
}